.table-width-100 {
	width: 100% !important;
	margin: auto;
}

.table-width-75 {
	width: 75% !important;
	margin: auto;
}

.dt-buttons.btn-group {
	margin-left: 1px !important;
}

div.dataTables_info {position:absolute}
div.dataTables_wrapper div.dataTables_paginate {float:none; text-align:center}

.hide_column {
	display: none
}

.table th {
  text-align: center;
  color: #3c8dbc
}

.m-l-1 {
	margin-left: 1px !important
}


.modal-header-form {
	background-color: #00a7d0 !important;
	color: white
}

.modal-footer-form {
	background-color: #00a7d0 !important;
	color: white
}

.modal-footer {
	text-align: center;
}

input {
    background: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white !important;
    /*-webkit-box-shadow: red !important*/
}

#modal-export .overlay {
	text-align: center;
}
#modal-export .overlay i {
	font-size: 48px
}